body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  .menu {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .category {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    margin-bottom: 20px;
  }
  
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .menu-item-details {
    flex-grow: 1;
  }
  
  h3 {
    margin: 0;
    color: #333;
  }
  
  .price {
    font-weight: bold;
    float: right;
    color: #555;
  }
  
  p {
    color: #777;
  }